

<footer class="site-footer">
  <div class="footer-top">
    <div class="inner-wide">
      <div class="offsite-links">
        <a href="http://www.twitter.com/Chen_Samiue" class="icon-twitter"><span class="screen-reader-text">Twitter</span></a>
        <a href="https://www.facebook.com/profile.php?id=100010370563502" class="icon-facebook"><span class="screen-reader-text">Facebook</span></a>
        <!-- <a href="https://plus.google.com/101826267816845608605" class="icon-google"><span class="screen-reader-text">Google+</span></a> -->
        <a href="https://github.com/CooSamuel" class="icon-github"><span class="screen-reader-text">GitHub</span></a>
        <!-- <a href="https://medium.com/@lucasgatsas" class="icon-medium"><span class="screen-reader-text">Medium</span></a> -->
        <a href="https://www.instagram.com/chenqs33/" class="icon-instagram"><span class="screen-reader-text">Instagram</span></a>
        <!-- <a href="https://www.youtube.com/watch?v=3Zz7gLsN7fk" class="icon-youtube"><span class="screen-reader-text">YouTube</span></a> -->
        <!-- <a href="http://cosamuel.tech" class="icon-feed"><span class="screen-reader-text">RSS</span></a> -->
        <!-- <a href="http://www.weibo.com/1702808623/profile?topnav=1&wvr=6" class="icon-weibo"><span class="screen-reader-text">Weibo</span></a> -->
      </div><!-- .offsite-links -->
      <a href="#" class="top-link square icon-chevron-up" title="Back to Top"><span class="screen-reader-text">Back to the top</span></a>
    </div><!-- .inner -->
  </div><!-- .footer-top -->
  <div class="site-info inner-wide">
    <p>&copy;. 2017 - 2017 by <a href="index.html">   {{ site.title }} <!-- {{ site.description }} --> </a> <br>all rights reserved. <br /> <a target="_blank" href="http://cosamuel.tech"> {% include icon-github.html %}</a>
        <!-- This site is built with <a href="http://rubyonrails.org/" target="_blank"> Ruby on Rails </a> -->
        <br>This site is built con love my world </a>
 </p>
  </div><!-- .site-info -->
</footer><!-- .site-footer -->



<!-- jQuery -->





  <script src="{{ "/assets/js/plugins-v=cba79c2df0.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/custom-v=cba79c2df0.js " | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
